---
const { title } = Astro.props;
import { Icon } from 'astro-icon/components';

const products = [
	{
		icon:"",
		name:"producto 1"
	},
	{
		icon:"",
		name:"producto 2"
	},
	{
		icon:"",
		name:"producto 3"
	}
]
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<div class="bg-zinc-800 flex justify-center items-center">
			<div class="flex items-center">
				<img src="/public/aliexpress.webp" class="h-16">
				<div class="relative ">
					<input placeholder="Buscar..." class="h-9 w-[800px] rounded-full pl-4 outline-none pr-14">
					<div class="bg-zinc-800 inline-block text-white rounded-2xl px-2 py-1 absolute right-1 top-[2px]">
						<Icon name="mdi:search" class="size-6" />				
					</div>
				</div>
				<div class="text-white flex ml-4">
					<Icon name="mdi:qrcode" class="h-8 w-8" />
					<p class="text-white text-xs ">Descarga la app <br> de AliExpress</p>
				</div>
				<div class="flex ml-4">
					<Icon name="emojione-v1:flag-for-colombia" class=" h-8 w-8" />
					<p class="text-white text-xs ml-2">ES/ <br> COP</p>
					<div class="text-white"><Icon name="mdi:keyboard-arrow-down" /></div>
				</div>
				<div class="flex ml-4">
					<Icon name="mdi:account" class="h-8 w-8 text-white" />
					<div>
						<p class="text-white text-xs ">Bienvenido</p>
						<div class="text-white flex">
							<p class="">Identificate / Registrate</p>		
							<div><Icon name="mdi:keyboard-arrow-down"></Icon></div>
						</div>
					</div>
					
				</div>
				<div class="flex ml-4 ">
					<Icon name="mdi:shopping-cart-outline" class="h-8 w-8 text-white mt-2" />
					<div class="text-white">
						<div class="bg-white border-[1px] rounded-full ">0</div>
						<p class="text-white text-xs"> Cesta</p>
					</div>
				</div>
			</div>
		</div>
		<div class="bg-zinc-800 flex justify-center items-center">
			<div class="bg-zinc-800 flex justify-center items-center text-white border-[1px] rounded-full px-2 py-1 mb-3">
				<Icon name="mdi:menu" class="mr-1"/>
				<a class="text-[15px] group relative">Todas las categorias
					
					<menu class="hidden group-hover:block w-full top-0 absolute bg-zinc-800 rounded-xl">Todas las categorias 
						<ul>
							<li>opcion1</li>
							<li>opcion2</li>
							<li>opcion3</li>
						</ul>
					</menu>
				</a>
				<div class=""><Icon name="mdi:keyboard-arrow-down" /></div>
			</div>
		</div>
			<div class="container banner">
			Banner
		</div>
		<nav class="container main_menu">
			<a href="/">Inicio</a><a href="productos"> Productos</a>
		</nav>
		<div class="container lista_productos">
			{
				products.map((product) =><div>
											<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAYtJREFUSEvt1bFLlWEUx/GPRESkZK2FQygF6RTRUCBR1JCrNNVqoC7+H822tQRFcw1RUkNBJLQ4KAWhQg1FJYEOIul74ly43N7rc+9wN5/xfc57vuf83vP+Tp8en74e51cCjOI6ruImjmRBf/EaL/AGi+0KbQeIRPcx3WGHj3APm63xdYDjeImL2ME8nuE9/mSC/ry/hZnsbLnqarwq6kczpA7wAFP4ggnEi9dwCSM4hFV8SPCZCvYc5xCd3CkB1jCEC/iYwW+rri63tP8Vp/NZgD9hC8dKgJ84iSt4tw/gG07lfRQUXYUiJ7DRgNRJ9CuDQsvQOCZkP4nOplTDmbQIaHQQ8bt4XOn7BEtYR4xoSHMek9W3uovDTbIUAb8x2OF41oWFvJHj36mT6ABwIFFxvooSfa48pfHTFLO1BGzjaP4rbcc0bHqu28wZ/7Qyx9slLxrAQtpxN5yVtOvvJUDcd7twHmK204XTXMBYrswwuxtNnhOL6FUupliZDVv/r+PSTu5GotrYngP2AFxlUhnskAJwAAAAAElFTkSuQmCC"/>
											{product.name}
										</div>)
			}
		</div>
		<div class="container categoria">
			Categoria
		</div>	
		<div class="">
			<slot/>
		</div>
		<div class="container footer">
			Este es el footer
		</div>
		
			
	</body>
</html>
<style is:global>
	.main_menu{
		display: flex;
		background-color: #D8973C;
		height: 40px;
		align-items: center;
	}
	.main_menu a{
		transition: background 300ms ease-in-out;
		text-decoration: none;
		color: white;
		padding: 0 12px;
		height: 100%;
		display: flex;
	}
	.main_menu a:hover{
		background-color: #BD632F;
	}
	.banner{
		height: 240px;
	}
	.ofertas{
		height: 240px;
	}
	.lista_productos{
		height: 140px;
		display: flex;
		margin-top: 8px;
	}
	.lista_productos div{
		height: 100%;
		display: flex;
		max-width: 120px;
		text-align: center;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: 1px solid gray;
		border-radius: 4px;
		margin-right: 3px;
	}
	.categoria{
		height: 140px;
	}
	.footer{
		height: 80px;
	}
	html, .body {
		margin:0;
		padding:0;
		font-family: system-ui, sans-serif;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
